$darkerGrey : #303030;
$activeGrey: #424242;
$darkGrey : #4C4C4C;
$lighterGrey : #E4E5E5;
$offWhite: #FAFAFA;

body{
	background-color: $offWhite;
}

@font-face {
  	font-family: 'Montserrat';
  	font-style: normal;
  	font-weight: 700;
  	src: local('Montserrat-Bold'), url(../fonts/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.active, .menu .active > a {
	background-color: $activeGrey;
}
.nav-item:hover, .menu li > a:hover {
	background-color: $darkGrey;
}

.top-nav-bar {
	background-color: $darkerGrey;
	border-bottom: 1px solid $darkGrey;
	position: fixed;
	top: 0;	
	z-index: 5;
}
.nav-text, .nav-header {
	color: $lighterGrey !important;
	margin: 10px;
	font-family: 'Montserrat';
	font-size: 1.4em;
}
.nav-header {
	margin: 11px 10px;
	margin-left: 0;
    line-height: 1.05em;
    font-size: 1.8em;
}
.fullWidth {
	width: 100% !important;
   	margin-left: 0;
   	margin-right: 0;
   	padding-left: 0;
   	padding-right: 0;
   	max-width: initial;
}

.hide {
	display: none !important;
}
.burger-cont{
	z-index: 1;
	margin: 12px 10px;
    margin-right: 0px;
    margin-left: 15px;
	.burger-line {
		width: 30px;
		height: 6px;
		margin-bottom: 5px;
		background-color: $lighterGrey;
	}
	.burger-line:last-child {
		margin-bottom: 0;
	}
}

.burger-menu {
	display: none;
	position: fixed;
	top: 53px;
	z-index: 5;
	ul{
		li{
			border-bottom: 1px solid $darkGrey;
			a {
				color: $lighterGrey;
				font-family: 'Montserrat';
				font-size: 1.1em;
				padding-left: 0.625rem;
				padding-right: 0.625rem;
				background-color: $darkerGrey;
			}
			@media screen and (min-width: 40em){
				a {
				    padding-left: 0.9375rem;
				    padding-right: 0.9375rem;
				}
			}
		}
	}
}

.nav {
	overflow: hidden;
	height: 52px;
	margin: 0;
	.nav-item {
		display: inline-block;
		padding: 0 12px;
		height: 52px;
		border-left: 1px solid $darkGrey;
		a {
				color: $lighterGrey;
				font-family: 'Montserrat';
				font-size: 1.1em;
				line-height: 52px;;
			}
	}
	.nav-item:first-child {
		border-right: 1px solid $darkGrey;
	}
}
#footer {
	//background-color: $darkerGrey;
	background-image: url(../imgs/backgrounds/footer_lodyas.png);
	color: $lighterGrey;
	//height: 300px;
	span {
		color: $offWhite;
		font-family: 'Montserrat';
		font-size: 1.2em;
	}
}
.hero-image{
	background-image: url(http://placehold.it/800x400);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.home-hero-cont {
		height: 400px;
		.home-hero-text {
			font-size: 1.5em;
			color: $darkerGrey;
			line-height: 1.1em;
			// margin-top: 150px;
			// margin-bottom: 150px;
		}
	
	}
}
.bump-for-nav{
	margin-top: 53px;
}
.bump-small{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.bump-medium{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.bump-large{
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.padding-vert-med {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.main {
	// margin-top: 20px;
	// margin-bottom: 20px;
	span{
		font-size: 1.6em;
	}
	> .columns {
		.columns {
			//border: 1px solid $lighterGrey;
		}
	}
}
.main:last-child{
	margin-bottom: 0 !important;
}
hr {
	max-width: 99999px;
	margin: 0.5rem 0 0.75rem 0;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#latest-work{
	background-image: url(../imgs/wellbrew_blur.jpg);
	background-position: center;
	background-size: cover;
	>div {
		padding-top: 80px;
		padding-bottom: 80px;
		color: white;
		z-index: 1;
		>hr{
			color: white;
		}
		>p{
			margin-bottom: 3px;
			>span{
				color: #2ba6cb;
				font-size: 1em;
			}
		}
	}
}
#darken-clarity {
	width: 100%;
	height: 135px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	padding: 0 !important;
}
.avatar{
	// border-radius: 50%;
	// border: 1px solid $darkGrey;
}
.avatar200 {
	// height: 200px;
	// width: 200px;
}
.accountBg{
	background-image: url(../imgs/backgrounds/light_grey.png);
	background-size: 46px 23px;
}
.account {
	.posts{
		background-color: white;
		border-top: 1px solid $darkGrey;
		#noPosts{
			width: 100%;
			display: block;
			text-align: center;
			margin: 0;
			padding: 30px;
		}
	}
	.settings{

		a{
			width: 33.333%;
			text-align: center;
			background-color: $lighterGrey;
			border: 1px solid $darkGrey;
			border-right: none;
			//border-top: none;
			border-bottom: none;
		}
		a:first-child{
			border-left: none;
		}
	}
	.imgCont{
		overflow: hidden;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.top-sml{
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 20px 30px;
		.imgCont{
			margin: 0 auto;
		}
		//border-radius: 30px 30px 0 0; 
		//border-bottom: 1px solid $darkGrey;
		img {
			display: block;
			margin: 0 auto;
		}
		.textCont{
			width: 100%;
			padding-top: 20px;
			#nameText, #emailText, #statsText {
				text-align: center;
			}
			#emailText{
				margin-top: -11px;
			}
			#nameText{
				//margin-top: 92px;
			}
			#statsText{
				margin-top: -7px;
				margin-bottom: 0px;
			}
		}
	}
	.top-med, .top-lrg{
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 40px;
		
		//border-radius: 40px 40px 0 0; 
		//border: 1px solid $darkGrey;
		.textBlock {
			width: 100%;
		}
		.textCont{
			width: calc(100% - 200px);
			height: 200px; 
			padding-left: 20px;
			display: inline-block;
		}
		.block {
			display: inline-block;
			vertical-align: top;
		}
		#emailText, #nameText, #statsText {
			// display: inline-block;
			//text-align: right;
			width: 100%;
			margin: 0;
		}
	}
	.top-med{
		//margin-top: 2.5rem;
		#emailText{
			margin-top: -7px;
		}
		#nameText{
			//margin-top: 92px;
		}
		#statsText{
			margin-top: -2px;
		}
	}
	.top-lrg{
		//margin-top: 4rem;
		#emailText{
			margin-top: -10px;
		}
		#nameText{
			//margin-top: 92px;
		}
		#statsText{
			margin-top: -2px;
		}
	}
}
#loginForm, #registerForm{
	//transition: margin-top 0.4s ease-in-out;
	h2{
		margin-bottom: 0;
		text-align: center;
		font-size: 2.5rem !important;
		display: inline-block;
	}
	#registerLink, #homeLink{
		float:right !important;
		display: inline-block;
		padding-top: 30px;
		margin-top: 0;
		color: #2ba6cb;
		transition: color 0.25s ease-out;
	}
	#homeLink, #logoutLink{
		padding: 0 !important;
	}
	#registerLink:hover, #homeLink:hover{
		color: #258dad;
	}
	label {
		font-size: 1.4em;
	}
	#profileImageUploadText {
		font-size: 0.9rem !important;
		margin-top: 8px;
	}
	#forgotPasswordText{
		font-size: 1em;
		display: inline-block;
		padding: 11px 0 16px 0;
	}
	input {
		margin: 0.05rem 0 0.2rem !important;
	}
	#submitButton {
		float:right;
		margin-top: 8px !important;
	}
}
.help-text {
	margin: 0.5rem 0 0 !important;
	display: none;
	color: red;
}
//Medium & up
@media print, screen and (min-width: 40em){
	.hero-image > .home-hero-cont {
		height: 475px;
	}
	#latest-work>div{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.account {
		margin-top: 2.5em;
		margin-bottom: 2.5em;
		.posts{
			// border: 1px solid $darkGrey;
			// border-bottom: none;
		}
		.settings{
			//padding-bottom: 2.5em;
			a{
				width: 33.333%;
				text-align: center;
				background-color: $lighterGrey;
				border: 1px solid $darkGrey;
				border-right: none;
				border-bottom: none;
			}
			// a:last-child{
			// 	border-right: 1px solid $darkGrey;
			// }
			// a:first-child{
			// 	border-left: 1px solid $darkGrey;
			// }
		}
	}
}
//Large & up
@media print, screen and (min-width: 64em){
	.account {
		margin-top: 4em;
		margin-bottom: 4em;
	}
}	
@media print, screen and (min-width: 75em){
	.hero-image > .home-hero-cont {
		height: 550px;
	}
	.xl-padding, .xl-padding-right {
		padding-right: 50px
	}
	.xl-padding, .xl-padding-left {
		padding-left: 50px
	}
	#latest-work>div{
		padding-top: 180px;
		padding-bottom: 180px;
	}
}